.rammonav {
  display: flex;
  width: 100%; }

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; }

.nav.rammo-clone {
  flex-direction: column; } // Stack the items in the cloned navigation

.rammo-hidden, .rammo-empty {
  display: none; }